*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    background-color: rgb(0, 255, 127);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 
    "header header header header" 1fr
    "main main main main" 1fr
    / 1fr 1fr 1fr 1fr;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 3.5rem;
}

header p {
    margin-top: 30px;
    font-size: 1.8rem;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 
    "item-1 item-2 item-3" 1fr
    / 1fr 1fr 1fr;
    display: flex;
    justify-content: space-around;
}

main section a:link, main section a:visited {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 7px 18px;
    transition: all .4s;
}

main section a:hover, main section a:active {
    color: white;
    background-color: rgba(18, 30, 20, 0.55);
    transition: all .4s;
}

main section.item-1 {
    grid-area: item-1;
}

main section.item-2 {
    grid-area: item-2;
}

main section.item-3 {
    grid-area: item-3;
}

/* 
=================================================================================
=================================================================================
Media Queries
=================================================================================
=================================================================================
*/
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 450px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.1rem;
    }

    
}

@media only screen and (max-width: 350px) {
    header h1 {
        font-size: 2.2rem;
    }

    header p {
        font-size: 1rem;
    }
}