* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00ff7f;
    color: #121e14;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
    font-size: 70px;
}

p {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.socials-header {
    display: flex;
    justify-content: center;
}

.my-socials {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-header {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

hr {
    width: 50%;
    box-shadow: 0 0 5px 1px #2f2f2f;
    height: 0;
}

.my-contact {
    display: flex;
    justify-content: center;
}

.links {
    border: 2px solid #121e14;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    color:  #121e14;
    text-decoration: none;
    transition: all .4s ease-out; /* Place ease out on the regular anchor tag */

}

.links:hover {
    transition: all .4s ease-in; /* Place ease in on the anchor hover version */
    background-color: rgba(18, 30, 20, 0.55);
    color: #f1fcf3;
    border-color: #121e14;
}

.links:active {
    transition: none;
    background-color: #121e14;
    color: #f1fcf3;
    border: 2px solid #f1fcf3;
}


/* Media Queries */

@media only screen and (max-width: 800px) {    
    h1 {
        font-size: 45px;
    }

    p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
    }

    p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 350px) {
    .my-socials {
        font-size: 15px;
    }

    .links {
        padding-left: 20px;
        padding-right: 20px;
    }
}