*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template:
    "header header header" 7fr
    "main main main" 10fr
    "footer footer footer" 30px
    / 1fr 1fr 1fr;
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.3rem;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 
    "item-1 item-1 item-1" 1fr
    "item-2 item-2 sidebar-1" 1fr
    "item-3 item-3 sidebar-1" 1fr
    / 2fr 2fr 1fr;
}

main section.item-1 {
    grid-area: item-1;
    border: 2px solid red;
}

main section.item-2 {
    grid-area: item-2;
    border: 2px solid red;
}

main section.item-3 {
    grid-area: item-3;
    border: 2px solid red;
}

main section.sidebar-1 {
    grid-area: sidebar-1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid red;
}

footer {
    grid-area: footer;
}